.producto{
        cursor: pointer;
        width: calc(20% - 60px);
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        margin-right: 30px;
        margin-top: 20px;
        min-width: 250px;
       img{
        width: 100%;
       }

       p{
        font-size: 16px;
        color: black;
        width: 80%;
        margin: 30px auto;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        &:nth-child(2){
         font-size: 16px;
         font-weight: 600;
        }
       }
    }
    @media screen and (max-width:500px){
        .producto{
                width: 49%;
                margin-right: 0px;
                margin-top: 9px;
                min-width: auto;
        }
    }
