.menu-first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid gray;
    .redes{
        display: flex;
        flex-direction: row;
        list-style: none;
        li{
            margin-left: 20px;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }

    .actiones{
        .actions{
        color: white;
        text-decoration: none;
        margin-right: 15px;
    }}
    .logo{
        height: 58px;
        margin-right: 133px;
    }
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft{
top: 101px;
height: calc(100% - 101px);
} 